In [1]:
#Calling libraries
import urllib
import pandas as pd
import numpy as np

In [2]:
#Retrieving files
urllib.request.urlretrieve("https://github.com/SisonkeBiotik-Africa/AfriBioML/blob/main/CSV/refinedkeywords_final.csv?raw=true", "refinedkeywords_final.csv")

('refinedkeywords_final.csv', <http.client.HTTPMessage at 0x7f1bf4cd35e0>)

In [14]:
#Creating dataframes
df_keywords = pd.read_csv("refinedkeywords_final.csv", sep=";")

In [15]:
#Adding metaclasses to entities
df_keywords

,Keyword,Class,EID,Year,Highly Cited,North Africa,OA,Journal Article
0,convolutional neural network,computer science,2-s2.0-85084656133,2020,True,True,True,True
1,COVID-19,medicine,2-s2.0-85084656133,2020,True,True,True,True
2,machine learning,computer science,2-s2.0-85084656133,2020,True,True,True,True
3,deep learning,computer science,2-s2.0-85087655069,2020,True,True,False,True
4,feature extraction,computer science,2-s2.0-85087655069,2020,True,True,False,True
...,...,...,...,...,...,...,...,...
46287,computed tomography,medicine,2-s2.0-85136592056,2022,False,True,True,True
46288,computed tomography,medicine,2-s2.0-85127957174,2022,False,True,True,True
46289,computed tomography,medicine,2-s2.0-85135519111,2022,False,True,True,True
46290,computed tomography,medicine,2-s2.0-85133644664,2022,False,False,True,True
46291,computed tomography,medicine,2-s2.0-85065766999,2019,False,False,False,False

In [16]:
classes = list(df_keywords["Class"])
classes = list(map(lambda x: x.replace("computer science","STEM"), classes))
classes = list(map(lambda x: x.replace("medicine","Biomedicine"), classes))
classes = list(map(lambda x: x.replace("other","Other"), classes))
classes = list(map(lambda x: x.replace("mathematics and statistics","STEM"), classes))
classes = list(map(lambda x: x.replace("mathematics and statistics","STEM"), classes))
classes = list(map(lambda x: x.replace("biology","Biomedicine"), classes))
classes = list(map(lambda x: x.replace("demography","Social sciences"), classes))
classes = list(map(lambda x: x.replace("engineering","STEM"), classes))
classes = list(map(lambda x: x.replace("computer science","STEM"), classes))
classes = list(map(lambda x: x.replace("psychology and sociology","Social sciences"), classes))
classes = list(map(lambda x: x.replace("science","Other"), classes))
classes = list(map(lambda x: x.replace("anatomy","Biomedicine"), classes))
classes = list(map(lambda x: x.replace("physics","STEM"), classes))
classes = list(map(lambda x: x.replace("chemistry","STEM"), classes))
classes = list(map(lambda x: x.replace("education","Social sciences"), classes))
classes = list(map(lambda x: x.replace("environment","STEM"), classes))
classes = list(map(lambda x: x.replace("Social Others","Social sciences"), classes))

In [17]:
df_keywords["Class"] = classes

In [18]:
df_keywords["Class"].value_counts()

STEM               24857
Biomedicine        13109
Other               6298
Social sciences     2028
Name: Class, dtype: int64

In [19]:
#Saving file
df_keywords.to_csv("refinedkeywords_final_ultrageneralization.csv", sep=";", index=False)