In [2]:
#Calling libraries
import urllib
import pandas as pd
import numpy as np

In [26]:
#Retrieving files
urllib.request.urlretrieve("https://github.com/SisonkeBiotik-Africa/AfriBioML/blob/main/XLS/refinedkeywords_metaclasses_ready.xlsx?raw=true", "refinedkeywords_metaclasses_ready.xlsx")
urllib.request.urlretrieve("https://github.com/SisonkeBiotik-Africa/AfriBioML/blob/main/CSV/refinedkeywords.csv?raw=true", "refinedkeywords.csv")

('refinedkeywords.csv', <http.client.HTTPMessage at 0x7ffa61cc6460>)

In [27]:
#Creating dataframes
df_dict = pd.read_excel("refinedkeywords_metaclasses_ready.xlsx")
df_keywords = pd.read_csv("refinedkeywords.csv", sep=";")

In [28]:
#Creating dict for metaclasses
gen_dict = {}
for i in range(len(df_dict)):
  gen_dict[df_dict["Keyword"][i]] = df_dict["Discipline"][i]

In [29]:
#Adding metaclasses to entities
keyword_l = df_keywords["Keyword"]
for i in range(len(keyword_l)):
  keyword_l[i] = gen_dict[keyword_l[i]]

<ipython-input-29-e30df8d5f6f0>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  keyword_l[i] = gen_dict[keyword_l[i]]

In [30]:
keyword_l

0        computer science
1                medicine
2        computer science
3        computer science
4        computer science
               ...
46287            medicine
46288            medicine
46289            medicine
46290            medicine
46291            medicine
Name: Keyword, Length: 46292, dtype: object

In [31]:
df_keywords["Class"] = keyword_l

In [32]:
df_keywords

,Keyword,Class,EID,Year,Highly Cited,North Africa,OA,Journal Article
0,computer science,computer science,2-s2.0-85084656133,2020,True,True,True,True
1,medicine,medicine,2-s2.0-85084656133,2020,True,True,True,True
2,computer science,computer science,2-s2.0-85084656133,2020,True,True,True,True
3,computer science,computer science,2-s2.0-85087655069,2020,True,True,False,True
4,computer science,computer science,2-s2.0-85087655069,2020,True,True,False,True
...,...,...,...,...,...,...,...,...
46287,medicine,medicine,2-s2.0-85136592056,2022,False,True,True,True
46288,medicine,medicine,2-s2.0-85127957174,2022,False,True,True,True
46289,medicine,medicine,2-s2.0-85135519111,2022,False,True,True,True
46290,medicine,medicine,2-s2.0-85133644664,2022,False,False,True,True
46291,medicine,medicine,2-s2.0-85065766999,2019,False,False,False,False

In [33]:
#Saving file
df_keywords.to_csv("refinedkeywords_final.csv", sep=";")